body{
    background-image: url(../assets/tree.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
a :hover{
    color: white;
    text-decoration: none;
}
a :active{
    color: white;
    text-decoration: none;
}
.txtC {
    color: white;
}
.opaque{
    margin-top: 75px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 20px;
}
.opaqueBorder{
    background-color: rgb(255, 255, 255, 0.3);
    border: solid 15px;
    border-color: rgb(255, 255, 255, 0.2);
    border-radius: 40px;
    margin-top: 100px;
}
.magIcon{
    position: absolute;
    bottom: 5px; left: 9%;
}
.space{
    margin-left: 21%;
    background-color: rgb(255, 255, 255, 0.4);
    border: transparent;
    border-radius: 25px;
}
.mycontainer{
    display: flex;
    justify-content: center;
    position: relative;
    left: 30%;
    width: 39%;
    height: 200px;
    padding: 20px;
}
.geoIcon{
    position: absolute;
    right: 35%; top: 3%;
    height: 55px;
    margin-top: 20px;
}
.bigDay{
    position: absolute;
    left: 10%;
}
.bigIcon{
   margin-bottom: 20%;
   position: absolute;
   left: 8%; top: 34%;
}
.mainTemp{
    position: absolute;
    left: 20%; top: 32%;
    font-size: 100px;
}
.myCity{
    position: absolute;
    right: 12%;
}
.myState{
    position: absolute;
    right: 11%; top: 32%;
}
.myTemp{
    position: absolute;
    bottom: 8%; right: 15%;
}
.faveIcon{
    position: absolute;
    right: 4%;
}
.foreIcons{
    height: 80px;
}
.backBtn{
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 40px;
}
.btnPosition{
    margin-left: 4%;
}
.searchOptions{
    position: absolute;
    left: 8%;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    padding-left: 30px;
    padding-top: 5px;
}