body{
    background-image: url(../assets/tree.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
a :hover{
    color: white;
    text-decoration: none;
}
a :active{
    color: white;
    text-decoration: none;
}
.txtC {
    color: white;
}
.opaque{
    margin-top: 75px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 20px;
}
.opaqueBorder{
    background-color: rgb(255, 255, 255, 0.3);
    border: solid 15px;
    border-color: rgb(255, 255, 255, 0.2);
    border-radius: 40px;
    margin-top: 100px;
}
.space{
    margin-left: 21%;
    background-color: rgb(255, 255, 255, 0.4);
    border: transparent;
    border-radius: 25px;
}
.backBtn{
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 40px;
}
.btnPosition{
    margin-left: 4%;
}
.searchOptions{
    position: absolute;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 10px;
}